<div class="auth-wrapper">
  <div class="auth-card">
    <div class="auth-text">
      <h1>Welcome to talentree</h1>
      <p>Manage your account easily and securely.</p>
      <div class="actions">
        <a [routerLink]="['login']" class="btn primary">Sign In</a>
        <a [routerLink]="['register']" class="btn outline">Create Account</a>
      </div>
    </div>
    <div class="auth-image">
      <img src="https://i.pinimg.com/736x/47/d1/82/47d1823b025de8e055282b0eaa2f195a.jpg" alt="security" />
    </div>
  </div>
</div>